$cBack: #8a2be2;
$cJumbo: #42093f;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom:$bottom;
}

.flex-container{
    display: flex;
    background-color: $cBack;
    padding: 10px;
    border: 2px solid black;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}

.flex-product{
    border: 2px solid black;
    width:32%;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    height: 520px;
    justify-content: space-around;
    align-items: center;

}

.flex-product img{
    width: 18rem;
}
.flex-product button{
    width: 100%;
}

.jumbotron{
    @include margenes(30px, 15px );
    text-shadow: 2px 2px 5px $cJumbo;
    color: white;
}

@media (max-width:968px){
    .flex-container{
        flex-direction: column;
    }
}

@media (max-width:968px){
    .flex-product{
        width: 96%;
    }
}

footer{
    background-color: rgb(183, 179, 187);
    @include margenes(30px, 0px );
    padding: 20px 20px 20px 100px; 
}
